            <li><a href="{% url 'index' %}">Home</a></li>
                <li><a href="{% url 'insertturf' %}">Turf</a></li>
                <li><a href="{% url 'ownerturfview' %}">View Turf</a></li>
            <li><a href="{% url 'bookingview' %}">View Booking</a></li>
            <li><a href="{% url 'reviewview' %}">View Review</a></li>
               <li><a href="{% url 'paymentview' %}">Payment</a></li>
              <li><a href="{% url 'achangepassword' %}">Change Password</a></li>
              <li><a href="{% url 'logcheck' %}">Logout</a></li>